* {
	font-family: 'Montserrat', sans-serif;
}
.navbar .getstarted {
	background: crimson;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand span {
	color: crimson
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	padding-top: 0.85rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #de3b3b;
}
.w-100 {
	height: 100vh;
}

footer{
	padding: 85px 0;
	background: #101010;
}

footer .single-box p, h2, ul, h3,a{
	color: #fff;
	line-height: 1.5;
}

footer .single-box a:hover{
	color:#de3b3b;
}

footer .single-content{
	padding: 115px 0;
	text-align:center;
}

footer .single-box .card-area i{
	color:#fff;
	font-size: 20px;
	margin-right: 10px;
}

footer .single-box .ul{
	list-style: none;
	padding: 0;
}

footer .single-box .ul .li a{
	text-decoration: none;
	line-height: 2.5;
	font-weight: 100;
}

#basic-addon2 {
	background-color: #db2c2c;
}

#basic-addon2 .btn{
	border-color: #db2c2c;
	outline: none;
	color: #fff;
}
#basic-addon2 .btn:hover{
	background-color: brown;
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
}