* {
	font-family: 'Montserrat', sans-serif;
}
.contact h2{
	color: #000;
}


.portfolio h2{
	color: #000;
}

.services h2{
	color: #000;
}

.about h2{
	color: #000;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	background: crimson;
	padding: 5px 20px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	border-radius: 5px;
}
.carousel-caption a:hover{
    background-color: whitesmoke;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
}
.navbar .getstarted {
	background: crimson;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand span {
	color: crimson
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	padding-top: 0.85rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #de3b3b;
}
.w-100 {
	height: 100vh;
}

.services .card-body i{
	font-size: 50px;
}

.team .card-body i{
	font-size: 20px;
}

.portfolio .card{
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);

}

.team .card{
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.contact .btn{
	background-color: #de3b3b;
	color: #fff;
}
.contact .btn:hover{
	background-color: #db2c2c;
}

.about .btn{
	background-color: #de3b3b;
	color: #fff;
}
.about .btn:hover{
	background-color: #db2c2c;
}

.services .btn{
	background-color: #de3b3b;
}

.services .btn:hover{
	background-color: #db2c2c;
}

.portfolio .btn{
	background-color: #de3b3b;
}

.portfolio .btn:hover{
	background-color: #db2c2c;
}

footer{
	padding: 85px 0;
}

footer .single-box p, h2, ul, h3,a{
	color: #fff;
}

footer .single-box a:hover{
	color:#de3b3b;
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}
